spring:
  main:
    lazy-initialization: true
  devtools:
    livereload:
      enabled: true
  datasource:
    url: "jdbc:postgresql://localhost:5432/spring_project?schema=public"
    username: kyumericano
    password: PASSWORD
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # Enable Only Dirty Checking
    open-in-view: false
    show-sql: true