.generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100vh;
  background-image: url("https://i.ytimg.com/vi/p8lRXyVHLBQ/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.generator_row1 {
  font-size: 25px;
  font-weight: 800;
  margin-left: 40px;
  margin-top: -220px; /* 음수 값으로 조정하여 위로 이동 */
  color: rgb(247, 247, 247);
  text-shadow: 1px 1px black;
  animation: blink 1s infinite;
}

.generatorContainer {
  font-weight: 800;
  margin-top: 258px;
  margin-bottom: 40px;
}

.generatorButton {
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: 800;
  border-radius: 2px;
  width: 20x;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.generator_img {
  max-width: 100%;
  max-height: 50vh;
  margin: 20px auto;
  border-radius: 15px;
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}

.modalActionButton,
.modalCloseButton {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  &:hover {
    background-color: black;
    color: white;
  }
}
