.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}


.login-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.login_container {
    font-weight:800;
    margin-bottom: 40px;
}

.login_container > form > h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.login_container > form > input {
    margin-bottom: 10px;
    height:30px;
    background-color: white;
    width: 98%;
}

.login_container > form > p {
    margin-top: 15px;
    font-size: 10px;
    margin-bottom: 10px;
}

.login_signInButton {
    background-color: rgb(169, 62, 227);
    color: white;
    font-size: 13px;
    font-weight:800;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: antiquewhite;
}


.login_registerButton {
    background-color: rgb(169, 62, 227);
    color: white;
    font-size: 13px;
    font-weight:800;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: antiquewhite;
}